.loginBox{
	height: 42%;
	width: 16%;
	margin-left: 42%;
	margin-top: 13%;
}

/* for 2*/
.loginBox2{
	height: 42%;
	width: 16%;
	margin-left: 42%;
	margin-top: 13%;
}

/* for 3*/
.loginBox3{
	height: 42%;
	width: 16%;
	margin-left: 42%;
	margin-top: 13%;
}

/* for 4*/
.loginBox4{
	height: 42%;
	width: 16%;
	margin-left: 42%;
	margin-top: 13%;
}
