.headerMaster{
	height: 18%;
	width: 100%;
	background-color: rgb(179, 180, 180);
}

.slogan{
	margin-top: 20%;
	margin-left: 20%;
	font-size: 170%;
	color: white
}

.welcomePage{
	height: 100%;
	width: 100%;
	background-color: rgb(2, 180, 73);
	position:fixed;
}

.screensContainer{
	overflow: hidden;
}

/* in case of 1 users */
.one_one{
	width: 100%;
	height:100%;
	overflow: auto;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

/* --------------------- */


/* in case of 2 users */
.one_two{
	width: 50%;
	height:99.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

.one_left_two{
	width: 50%;
	height:99.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

.two_left_two{
	width: 50%;
	height:99.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(57, 179, 18) solid;
}

.two_right_two{
	width: 49.7%;
	height: 99.7%;
	overflow: auto;
	float:right;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.three_left_two{
	width: 50%;
	height: 99.7%;
	overflow: auto;
	float:left;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.three_right_two{
	width: 49.7%;
	height: 99.7%;
	overflow: auto;
	float:right;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.four_right_two{
	width: 49.7%;
	height: 99.7%;
	overflow: auto;
	float:right;
	display: none;
	border: 1px solid rgb(245, 217, 12);
}

/* --------------------- */

/* in case of 3 users */
.one_three{
	width: 50%;
	height:49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

.one_left_three{
	width: 50%;
	height:49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

.two_left_three{
	width: 50%;
	height: 49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(57, 179, 18) solid;
}

.two_right_three{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	float: right;
	display: none;
	border: 1px rgb(57, 179, 18) solid;
}

.three_left_three{
	width: 50%;
	height: 49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.three_middle_three{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	margin-left: 25%;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.three_right_three{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	margin-left: 20%;
	border: 1px solid red;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

/*.four_right_three{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	border: 1px solid red;
	display: none;
}*/

.four_middle_three{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	margin-left: 25%;
	border: 1px solid red;
	display: none;
	border: 1px solid rgb(245, 217, 12);
}

/* --------------------- */

/* in case of 4 users */
.one_four{
	width: 50%;
	height:49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(179, 17, 17) solid;
}

.two_four{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	display: none;
	border: 1px rgb(57, 179, 18) solid;
}

.three_four{
	width: 50%;
	height: 49.7%;
	overflow: auto;
	float: left;
	display: none;
	border: 1px rgb(2, 133, 255) solid;
}

.four_four{
	width: 49.7%;
	height: 49.7%;
	overflow: auto;
	display: none;
	border: 1px solid rgb(245, 217, 12);
}

.glowing-box-1 {
    width: 100%;
	height: 2%;
	background-color: rgb(179, 17, 17);
}

.glowing-box-2 {
 	width: 100%;
	height: 2%;
	background-color: rgb(57, 179, 18);   
}

.glowing-box-3 {
    width: 100%;
	height: 2%;
	background-color: rgb(2, 133, 255);
}

.glowing-box-4 {
	width: 100%;
	height: 2%;
	background-color: rgb(245, 217, 12);
}
/* --------------------- */