.devicesContainer {
	height: 97%;
	width: 100%;
	max-height: 100%;
	overflow: auto;
	max-width: 100%;
	margin-top: 3%;
}

/*.addDeviceButton {
	margin-left: 35%;
	margin-top: 5%;
}*/

.oneBadge{
	margin-left: 41%;
}

.twoBadge{
	margin-left: 33%;
}

.threeBadge{
	margin-left: 24%;
}

.privacyProtectedProfile{
	/*margin-left: 35%;
	margin-top: -5%;*/
	width: 38%;
	height: 50%;
	margin-left: 32%;
	margin-top: -5%;
	padding-top: 1%;
	background-color: rgb(232, 235, 235);
}

.privacyProtectedTitleProfile{
	margin-left: 10%;	
}


.level {
	font-size: 25;
	background-color: green;
	margin-left: 25%;
	display: inline;
	float: left;
	padding: 1%;
	color: white;
}

.money {
	margin-left: 30%;
	font-size: 25;
	color: white;
	padding: 1%;
	display: inline-table;
	background-color: red;
}

.badges {
	margin-left: 76%;
	margin-top: 3%;
	width: 24%;
}

.pieCanvas {
	width: 45%;
	height: 50%;
	margin-left: 28%;
	margin-top: -11%;
}

.badgesTitle{
	margin-left: 76%;
	font-size: 25px;
	color: grey;
}

.NoBadgesTitle{
	margin-left: 29%;
	margin-top: 7%;
	font-size: 25px;
	color: grey;
}

.tipContainer{
	display: inline-block;
	margin-top: 2%;
	word-wrap: break-word;
	width: 35%;
	margin-left: 31%;
}

.NoChartProfile{
	margin-left: 29%;
	font-size: 25px;
	color: grey;
}

/*for the 2 users */

.pieCanvas2 {
	width: 95%;
	height: 100%;
}

.privacyProtectedTitleProfile2{
	margin-left: 6%;	
}

.level2 {
	font-size: 25;
	background-color: green;
	margin-left: 25%;
	display: inline;
	float: left;
	padding: 1%;
	color: white;
}

.money2 {
	margin-left: 30%;
	font-size: 25;
	color: white;
	padding: 1%;
	display: inline-table;
	background-color: red;
}

.badges2 {
	/*margin-left: 33%;*/
	width: 67%;
}

.NoBadgesTitle2{
	margin-left: 30%;
	margin-top: 35%;
	font-size: 25px;
	color: gray;
}

.tipContainer2{
	display: inline-block;
	margin-top: 2%;
	word-wrap: break-word;
	width: 35%;
	margin-left: 31%;
}

.NoChartProfile2{
	margin-left: 29%;
	font-size: 25px;
	color: grey;
}

.privacyProtectedProfile2{
	width: 67%;
	height: 50%;
	margin-left: 17%;
	margin-top: 0%;
	padding-top: 1%;
	background-color: rgb(232, 235, 235);
}

/*for the 3 users */

.pieCanvas3 {
	width: 95%;
	height: 100%;
}


.privacyProtectedTitleProfile3{
	margin-left: 6%;	
}


.level3 {
	font-size: 25;
	background-color: green;
	margin-left: 25%;
	display: inline;
	float: left;
	padding: 1%;
	color: white;
}

.money3 {
	margin-left: 30%;
	font-size: 25;
	color: white;
	padding: 1%;
	display: inline-table;
	background-color: red;
}

.badges3 {
	/*margin-left: 33%;*/
	width: 67%;
}

.NoBadgesTitle3{
	margin-left: 29%;
	margin-top: 7%;
	font-size: 25px;
	color: grey;
}

.tipContainer3{
	display: inline-block;
	margin-top: 2%;
	word-wrap: break-word;
	width: 35%;
	margin-left: 31%;
}

.NoChartProfile3{
	margin-left: 29%;
	font-size: 25px;
	color: grey;
}

.privacyProtectedProfile3{
	width: 67%;
	height: 50%;
	margin-left: 17%;
	margin-top: 0%;
	padding-top: 1%;
	background-color: rgb(232, 235, 235);
}

/*for the 4 users */

.pieCanvas4 {
	width: 95%;
	height: 100%;
}

.privacyProtectedTitleProfile4{
	margin-left: 6%;	
}

.level4 {
	font-size: 25;
	background-color: green;
	margin-left: 25%;
	display: inline;
	float: left;
	padding: 1%;
	color: white;
}

.money4 {
	margin-left: 30%;
	font-size: 25;
	color: white;
	padding: 1%;
	display: inline-table;
	background-color: red;
}

.badges4 {
	/*margin-left: 33%;*/
	width: 67%;
}

.NoBadgesTitle4{
	margin-left: 29%;
	margin-top: 7%;
	font-size: 25px;
	color: grey;
}

.tipContainer4{
	display: inline-block;
	margin-top: 2%;
	word-wrap: break-word;
	width: 35%;
	margin-left: 31%;
}

.NoChartProfile4{
	margin-left: 29%;
	font-size: 25px;
	color: grey;
}

.privacyProtectedProfile4{
	width: 67%;
	height: 50%;
	margin-left: 17%;
	margin-top: 0%;
	padding-top: 1%;
	background-color: rgb(232, 235, 235);
}