.registerForm {
	margin-left: 42%;
	margin-top: 12%;
}

/*for 2*/
.registerForm2 {
	margin-left: 42%;
	margin-top: 12%;
}

/*for 3*/
.registerForm3 {
	margin-left: 42%;
	margin-top: 12%;
}
/*for 4*/
.registerForm4 {
	margin-left: 42%;
	margin-top: 12%;
}