.privacyProtectedViewChart{
	margin-left: 31%;
}

.ViewChartsPieCanvas{
	width:100%;
	height:40%
}

.ViewChartsBarCanvas{
	width:100%;
	height:40%
}

/*for 2*/

.ViewChartsPieCanvas2{
	width:100%;
	height:40%
}

.ViewChartsBarCanvas2{
	width:100%;
	height:40%
}
/*for 3*/

.ViewChartsPieCanvas3{
	width:100%;
	height:40%
}

.ViewChartsBarCanvas3{
	width:100%;
	height:40%
}
/*for 4*/

.ViewChartsPieCanvas4{
	width:100%;
	height:40%
}

.ViewChartsBarCanvas4{
	width:100%;
	height:40%
}