.ViewChartsPieCanvas{
	width:40%;
	height:40%
}

.ViewChartsBarCanvas{
	width:40%;
	height:40%
}

/*for 2*/

.ViewChartsPieCanvas2{
	width:40%;
	height:40%
}

.ViewChartsBarCanvas2{
	width:40%;
	height:40%
}
/*for 3*/

.ViewChartsPieCanvas3{
	width:40%;
	height:40%
}

.ViewChartsBarCanvas3{
	width:40%;
	height:40%
}
/*for 4*/

.ViewChartsPieCanvas4{
	width:40%;
	height:40%
}

.ViewChartsBarCanvas4{
	width:40%;
	height:40%
}