<div id="{{userNumber}}ColorDiv" class=""></div>
<script>
	var chan = "channel";
	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"]= "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	        $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	            $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	            $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}


	Pusher.channel_auth_endpoint = '/auth/';
	Pusher.channel_auth_transport = 'ajax';

	window['{{userID}}logOutLB'] = function(data) {
						sessionStorage.noOfUsers = parseInt(sessionStorage.noOfUsers) - 1;
						userArray[parseInt(window["{{userNumber}}"])-1] = false;
						window["{{userNumber}}Privacy"] = 'low';
						$.ajax({
				            url: "/logout/",
				            type: "POST",
				            data: {
				            	'csrfmiddlewaretoken':"{{csrf_token}}",
				            	'userID':"{{userID}}"
				           	},
				            success: function(data){
				            	// alert("Logged out");	
				            	$('#'+"{{userNumber}}").html("");
				            	$('#'+"{{userNumber}}").hide(1000);
				            	if(sessionStorage.noOfUsers == 0) {
		                            $('#welcomePage').show(1000);
		                        }
		                        else{
		                            if(sessionStorage.noOfUsers == 1){
	                            		for(var i=0 ; i<userArray.length ; i++){
	                            			if(userArray[i] == true){
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass("one_one" , 1500);
	                            				if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.devicesContainer")).length > 0){
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level2').addClass('level');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level2').removeClass('level2');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money2').addClass('money');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money2').removeClass('money2');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges2').addClass('badges');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges2').removeClass('badges2');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas2').addClass('pieCanvas');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas2').removeClass('pieCanvas2');
				                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badgesTitle').show();
												}
												else{
													if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.chartContainer")).length > 0){
				                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas2').addClass('ViewChartsPieCanvas');
				                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas2').removeClass('ViewChartsPieCanvas2');
				                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas2').addClass('ViewChartsBarCanvas');
				                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas2').removeClass('ViewChartsBarCanvas2');
													}
													else{
														if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.preChartContainer")).length > 0){
				                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer2').addClass('preChartContainer');
				                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer2').removeClass('preChartContainer2');
														}
													}
												}
												break;
	                            			}
	                            		}
		                            }
		                            else{
		                                if(sessionStorage.noOfUsers == 2){
		                                	j=0;
		                                	for(var i=0 ; i<userArray.length ; i++){
		                            			if(userArray[i] == true){
		                            				if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.devicesContainer")).length > 0){
									            		if(sessionStorage.noOfUsers != 1){
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level3').addClass('level'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level3').removeClass('level3');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money3').addClass('money'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money3').removeClass('money3');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges3').addClass('badges'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges3').removeClass('badges3');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas3').addClass('pieCanvas'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas3').removeClass('pieCanvas3');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badgesTitle').hide();
						                				}
													}
													else{
														if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.chartContainer")).length > 0){
															if(sessionStorage.noOfUsers != 1){
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas3').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas3').removeClass('ViewChartsPieCanvas3');
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas3').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas3').removeClass('ViewChartsBarCanvas3');
						                    				}
														}
														else{
															if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.preChartContainer")).length > 0){
																if(sessionStorage.noOfUsers != 1){
						                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer3').addClass('preChartContainer'+sessionStorage.noOfUsers);
						                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer3').removeClass('preChartContainer3');
						                        				}
															}
														}
													}
		                            				if(j%2 == 0){
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_two" , 1500);
		                            				}
		                            				else {
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_two" , 1500);
		                            				}
		                            				j++;
		                            			}
		                            		}
		                                }
		                                else{
		                                    if(sessionStorage.noOfUsers == 3){
		                                    	j=0;
		                                        for(var i=0 ; i<userArray.length ; i++){
			                            			if(userArray[i] == true){
			                            				if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.devicesContainer")).length > 0){
										            		if(sessionStorage.noOfUsers != 1){
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level4').addClass('level'+sessionStorage.noOfUsers);
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level4').removeClass('level4');
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money4').addClass('money'+sessionStorage.noOfUsers);
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money4').removeClass('money4');
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges4').addClass('badges'+sessionStorage.noOfUsers);
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges4').removeClass('badges4');
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas4').addClass('pieCanvas'+sessionStorage.noOfUsers);
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas4').removeClass('pieCanvas4');
							                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badgesTitle').hide();
							                				}
														}
														else{
															if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.chartContainer")).length > 0){
																if(sessionStorage.noOfUsers != 1){
							                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas4').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
							                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas4').removeClass('ViewChartsPieCanvas4');
							                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas4').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
							                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas4').removeClass('ViewChartsBarCanvas4');
							                    				}
															}
															else{
																if($('#'+getUserNumber(userNumberArray[i]+'')).find($("div.preChartContainer")).length > 0){
																	if(sessionStorage.noOfUsers != 1){
							                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer4').addClass('preChartContainer'+sessionStorage.noOfUsers);
							                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer4').removeClass('preChartContainer4');
							                        				}
																}
															}
														}
			                            				if(j==2){
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_middle_three" , 1500);
			                            				}
			                            				else{
			                            					if(j%2 == 0){
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_three" , 1500);
				                            				}
				                            				else {
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_three" , 1500);
				                            				}
			                            				}
			                            				
			                            				j++;
			                            			}
			                            		}
		                                    }
		                                    else{
		                                    }
		                                }
		                            }
		                        }
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{userID}}logOutLB']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window['{{userID}}backToProfile']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpProfile',window['{{userNumber}}scrollUp']);
								window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownProfile',window['{{userNumber}}scrollDown']);
								renderCharts();
			                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
				            }
						});
					};

	window['{{userID}}backToProfile'] = function(data) {
	                        setTimeout(function () {
	                            $.ajax({
	                                url: "/profile/"+"{{userID}}"+"/"+"{{userNumber}}"+"/"+window["{{userNumber}}Privacy"]+"/",
	                                type: "GET",
	                                data: {
	                                    'csrfmiddlewaretoken' : "{{csrf_token}}", 
	                                    'userID':'{{userID}}'
	                                },
	                                success: function(data){
	                                	if(window["{{userNumber}}"] == 1){
									        userActivityDetected1();
									    }
									    else{
									        if(window["{{userNumber}}"] == 2){
									            userActivityDetected2();
									        }
									        else{
									            if(window["{{userNumber}}"] == 3){
									                userActivityDetected3();
									            }
									            else{
									                userActivityDetected4();
									            }
									        }
									    }
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window['{{userID}}backToProfile']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{userID}}logOutLB']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpProfile',window['{{userNumber}}scrollUp']);
										window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownProfile',window['{{userNumber}}scrollDown']);
	                                    $('#'+"{{userNumber}}").html(data);
	                                    if($('#'+"{{userNumber}}").find($("div.devicesContainer")).length > 0){
						            		if(sessionStorage.noOfUsers != 1){
		                    					$('#'+"{{userNumber}}").find('.level').addClass('level'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.level').removeClass('level');
		                    					$('#'+"{{userNumber}}").find('.money').addClass('money'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.money').removeClass('money');
		                    					$('#'+"{{userNumber}}").find('.badges').addClass('badges'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.badges').removeClass('badges');
		                    					$('#'+"{{userNumber}}").find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.pieCanvas').removeClass('pieCanvas');
		                    					$('#'+"{{userNumber}}").find('.badgesTitle').hide();
		                    				}
										}
										else{
											if($('#'+"{{userNumber}}").find($("div.chartContainer")).length > 0){
												if(sessionStorage.noOfUsers != 1){
		                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
		                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
		                        					$('#'+"{{userNumber}}").find('.privacyProtectedViewChart').addClass('privacyProtectedViewChart'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.privacyProtectedViewChart').removeClass('privacyProtectedViewChart');

		                        				}
											}
											else{
												if($('#'+"{{userNumber}}").find($("div.preChartContainer")).length > 0){
													if(sessionStorage.noOfUsers != 1){
		                            					$('#'+"{{userNumber}}").find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
			                        					$('#'+"{{userNumber}}").find('.preChartContainer').removeClass('preChartContainer');
			                        				}
												}
											}
										}
										renderCharts();
	                                    var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	                                }
	                            });
	                        }, 1000);
	                    };
	
	window['{{userNumber}}scrollUp'] = function(data) {
		if(window["{{userNumber}}"] == 1){
	        userActivityDetected1();
	    }
	    else{
	        if(window["{{userNumber}}"] == 2){
	            userActivityDetected2();
	        }
	        else{
	            if(window["{{userNumber}}"] == 3){
	                userActivityDetected3();
	            }
	            else{
	                userActivityDetected4();
	            }
	        }
	    }
		var y = $('#{{userNumber}}').scrollTop();
		$('#{{userNumber}}').scrollTop(y-150);
	}

	window['{{userNumber}}scrollDown'] = function(data) {
		if(window["{{userNumber}}"] == 1){
	        userActivityDetected1();
	    }
	    else{
	        if(window["{{userNumber}}"] == 2){
	            userActivityDetected2();
	        }
	        else{
	            if(window["{{userNumber}}"] == 3){
	                userActivityDetected3();
	            }
	            else{
	                userActivityDetected4();
	            }
	        }
	    }
		var y = $('#{{userNumber}}').scrollTop();
		$('#{{userNumber}}').scrollTop(y+150);
	}

	window[ chan + window["{{userNumber}}"] ].bind('client-goBackToProfile',window['{{userID}}backToProfile']);
	window[ chan + window["{{userNumber}}"] ].bind('client-logout',window['{{userID}}logOutLB']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollUpLB',window['{{userNumber}}scrollUp']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollDownLB',window['{{userNumber}}scrollDown']);
</script>

<div class="leaderBoard">
	<table class="table table-striped">
		<tr>
			<td>User</td>
			<td>Level</td>
			<td>Money</td>
			<td>Badges</td>
		</tr>
		{% for user in all_users %}
			<tr>
				<td>{{user.username}}</td>
				<td>{{user.level}}</td>
				<td>{{user.money}}</td>
				<td>
					{% for badge in user.badge.all %}
						<img src="{{badge.image.url}}" style="height:35%;width:5%;" alt="image" />
						<!-- <div style='background:url({{badge.image.url}});height:35%;width:5%;'></div> -->
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>