<div id="{{userNumber}}ColorDiv" class=""></div>
<script>
	var chan = "channel";
	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"]= "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	        $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	            $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	            $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}


	Pusher.channel_auth_endpoint = '/auth/';
	Pusher.channel_auth_transport = 'ajax';
	// alert(chan + userNumber);

	window['{{userNumber}}login'] = function(data) {		
					if(window["{{userNumber}}"] == 1){
						userActivityDetected1();
					}
					else{
						if(window["{{userNumber}}"] == 2){
							userActivityDetected2();
						}
						else{
							if(window["{{userNumber}}"] == 3){
								userActivityDetected3();
							}
							else{
								userActivityDetected4();
							}
						}
					}
					var username = document.getElementById("id_user_"+"{{userNumber}}"+"-username");
					var password = document.getElementById("id_user_"+"{{userNumber}}"+"-password");
					username.value = data.username;
					password.value = data.pass;
					setTimeout(function () {
						$.ajax({
			                url: "/login/",
			                type: "POST",
			                data: {
			                	'csrfmiddlewaretoken' : "{{csrf_token}}", 
			                	'username' : username.value , 
			                	'password' : password.value , 
			                	'userNumber' : "{{userNumber}}" ,
			                	'privacyStatus' : window["{{userNumber}}Privacy"]
			                },
			                success: function(data){
			                	if(data != ''){
		                			$('#'+"{{userNumber}}").html(data);
				                	if($("div.devicesContainer").length > 0){
					            		if(sessionStorage.noOfUsers != 1){
	                    					$('#'+"{{userNumber}}").find('.level').addClass('level'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.level').removeClass('level');
	                    					$('#'+"{{userNumber}}").find('.money').addClass('money'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.money').removeClass('money');
	                    					$('#'+"{{userNumber}}").find('.badges').addClass('badges'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.badges').removeClass('badges');
	                    					$('#'+"{{userNumber}}").find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.pieCanvas').removeClass('pieCanvas');
	                    					$('#'+"{{userNumber}}").find('.badgesTitle').remove();
	                    				}
									}
									else{
										if($("div.chartContainer").length > 0){
											if(sessionStorage.noOfUsers != 1){
	                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
	                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
	                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
	                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
	                        				}
										}
										else{
											if($("div.preChartContainer").length > 0){
												if(sessionStorage.noOfUsers != 1){
	                            					$('#'+"{{userNumber}}").find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.preChartContainer').removeClass('preChartContainer');
		                        				}
											}
										}
									}
				                	window[ chan + window["{{userNumber}}"] ].unbind('client-login',window['{{userNumber}}login']);
				                	window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToStartPage',window['{{userNumber}}startPage']);
									window[ chan + window["{{userNumber}}"] ].unbind('client-goToRegister',window['{{userNumber}}goToRegister']);
				                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
			                	}
			                }
			    		});
					}, 1000);
				};

	window['{{userNumber}}startPage'] = function(data) {
					if(window["{{userNumber}}"] == 1){
						userActivityDetected1();
					}
					else{
						if(window["{{userNumber}}"] == 2){
							userActivityDetected2();
						}
						else{
							if(window["{{userNumber}}"] == 3){
								userActivityDetected3();
							}
							else{
								userActivityDetected4();
							}
						}
					}
					sessionStorage.noOfUsers = sessionStorage.noOfUsers -1;
	            	if(sessionStorage.noOfUsers == 0){
	            		var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	            		setTimeout(function () {
	            			pusher.disconnect();
							$.ajax({
				                url: "/",
				                type: "POST",
				                data: {
				                	'csrfmiddlewaretoken' : "{{csrf_token}}",
				                	'userID':'{{userID}}'
				                },
				                success: function(data){
				                	$('#'+"{{userNumber}}").html(data);
				                }
				    		});
						}, 1000);
	            		
	            	}
	            	else{
	            		$('#'+"{{userNumber}}").hide(1000);
	            		window[ chan + window["{{userNumber}}"] ].unbind('client-login',window['{{userNumber}}login']);
	            		window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToStartPage',window['{{userNumber}}startPage']);
	            		window[ chan + window["{{userNumber}}"] ].unbind('client-goToRegister',window['{{userNumber}}goToRegister']);
	            		$('#'+"{{userNumber}}").html('');
	            	}
				};

	window['{{userNumber}}goToRegister'] = function(data) {
							$.ajax({
					            url: "/register/",
					            type: "GET",
					            data: {
					            	'csrfmiddlewaretoken':"{{csrf_token}}" , 
					            	'userNumber':"{{userNumber}}",
					            	'userID':'{{userID}}'
					            },
					            success: function(data){
					            	if(window["{{userNumber}}"] == 1){
										userActivityDetected1();
									}
									else{
										if(window["{{userNumber}}"] == 2){
											userActivityDetected2();
										}
										else{
											if(window["{{userNumber}}"] == 3){
												userActivityDetected3();
											}
											else{
												userActivityDetected4();
											}
										}
									}
					            	$('#'+"{{userNumber}}").html(data);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-login',window['{{userNumber}}login']);
									window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToStartPage',window['{{userNumber}}startPage']);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-goToRegister',window['{{userNumber}}goToRegister']);
					            	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
					            }
					    	});
						};

	window['{{userNumber}}scrollUp'] = function(data) {
        var y = $('#{{userNumber}}').scrollTop();
        $('#{{userNumber}}').scrollTop(y-150);
    }

    window['{{userNumber}}scrollDown'] = function(data) {
        var y = $('#{{userNumber}}').scrollTop();
        $('#{{userNumber}}').scrollTop(y+150);
    }

	window[ chan + window["{{userNumber}}"] ].bind('client-login',window['{{userNumber}}login']);
	window[ chan + window["{{userNumber}}"] ].bind('client-goBackToStartPage',window['{{userNumber}}startPage']);
	window[ chan + window["{{userNumber}}"] ].bind('client-goToRegister',window['{{userNumber}}goToRegister']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollUpLogin',window['{{userNumber}}scrollUp']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollDownLogin',window['{{userNumber}}scrollDown']);
</script>

<div id="{{userNumber}}loginBox"class="loginBox">
	<form action="/login/" method="post">
		{% csrf_token %}
		{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
		<div class="register_div">
		    {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
	        <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
	        <p>{{ form.username }}</p>
		</div>
		<div class="register_div">
	        {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
	        <p><label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
	        <p>{{ form.password }}</p>
		</div>
	</form>
</div>
<!-- <div class="LoginActions">
	<div style="background-color:#F2FFE1;border-radius:15px;"></div>
	<div style="background-color:#F2FFE1;border-radius:15px;"></div>
</div> -->