<div id="{{userNumber}}ColorDiv" class=""></div>
<script>

	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"] = "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    	$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}

	Pusher.channel_auth_endpoint = '/auth/';
	Pusher.channel_auth_transport = 'ajax';

	window[window["{{userNumber}}"]+'logoutPreChart'] = function(data) {
	                sessionStorage.noOfUsers = parseInt(sessionStorage.noOfUsers) - 1;
	                userArray[parseInt(window["{{userNumber}}"])-1] = false;
	                $.ajax({
	                    url: "/logout/",
	                    type: "POST",
	                    data: {
	                        'csrfmiddlewaretoken':"{{csrf_token}}",
	                        'userID':"{{userID}}",
	                    },
	                    success: function(data){
	                        // alert("Logged out");
	                        $('#'+"{{userNumber}}").html("");
			            	$('#'+"{{userNumber}}").hide(1000);
			            	if(sessionStorage.noOfUsers == 0) {
	                            $('#welcomePage').show(1000);
	                        }
	                        else{
	                            if(sessionStorage.noOfUsers == 1){
                            		for(var i=0 ; i<userArray.length ; i++){
                            			if(userArray[i] == true){
                            				$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass("one_one" , 1500);
											break;
                            			}
                            		}
	                            }
	                            else{
	                                if(sessionStorage.noOfUsers == 2){
	                                	j=0;
	                                	for(var i=0 ; i<userArray.length ; i++){
	                            			if(userArray[i] == true){
	                            				if(j%2 == 0){
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_two" , 1500);
	                            				}
	                            				else {
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_two" , 1500);
	                            				}
	                            				j++;
	                            			}
	                            		}
	                                }
	                                else{
	                                    if(sessionStorage.noOfUsers == 3){
	                                    	j=0;
	                                        for(var i=0 ; i<userArray.length ; i++){
		                            			if(userArray[i] == true){
		                            				if(j==2){
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_middle_three" , 1500);
		                            				}
		                            				else{
		                            					if(j%2 == 0){
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_three" , 1500);
			                            				}
			                            				else {
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_three" , 1500);
			                            				}
		                            				}
		                            				
		                            				j++;
		                            			}
		                            		}
	                                    }
	                                    else{
	                                    }
	                                }
	                            }
	                        }
	                        window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
	                        var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	                    }
	                });
	            };



	window[window["{{userNumber}}"]+'backToProfile'] = function(data) {
	                        setTimeout(function () {
	                            $.ajax({
	                                url: "/profile/"+"{{userID}}"+"/"+"{{userNumber}}"+"/",
	                                type: "GET",
	                                data: {
	                                    'csrfmiddlewaretoken' : '{{csrfToken}}', 
	                                    'userID':'{{userID}}'
	                                },
	                                success: function(data){
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
	                                    $('#'+"{{userNumber}}").html(data);
	                                    var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	                                }
	                            });
	                        }, 1000);
	                    };

	window[window["{{userNumber}}"]+'viewCharts'] = function(data) {
														$.ajax({
							                                url: "/viewCharts/",
							                                type:"GET",
							                                data: {
							                                    'csrfmiddlewaretoken':'{{csrfToken}}', 
							                                    'userID':'{{userID}}',
							                                    'userNumber':'{{userNumber}}',
							                                    'FromMonth':data.FromMonth,
							                                    'ToMonth':data.ToMonth,
							                                    'FromYear':data.FromYear,
							                                    'ToYear':data.ToYear,
							                                    'FromDay':data.FromDay,
							                                    'ToDay':data.ToDay
							                                },
							                                success: function(data){
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
							                                    $('#'+"{{userID}}preChart").html(data);
							                                    var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
							                                }
							                            });
													};


	
	window[ chan + window["{{userNumber}}"] ].bind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
	window[ chan + window["{{userNumber}}"] ].bind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
	window[ chan + window["{{userNumber}}"] ].bind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
</script>

<div id="{{userID}}preChart" class="preChartContainer">


</div>