<div id="{{userNumber}}ColorDiv" class=""></div>
<script>

	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"] = "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    	$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}

	Pusher.channel_auth_endpoint = '/auth/';
	Pusher.channel_auth_transport = 'ajax';

	window[window["{{userNumber}}"]+'logoutPreChart'] = function(data) {
	                sessionStorage.noOfUsers = parseInt(sessionStorage.noOfUsers) - 1;
	                userArray[parseInt(window["{{userNumber}}"])-1] = false;
	                $.ajax({
	                    url: "/logout/",
	                    type: "POST",
	                    data: {
	                        'csrfmiddlewaretoken':"{{csrf_token}}",
	                        'userID':"{{userID}}",
	                    },
	                    success: function(data){
	                        // alert("Logged out");
	                        $('#'+"{{userNumber}}").html("");
			            	$('#'+"{{userNumber}}").hide(1000);
			            	if(sessionStorage.noOfUsers == 0) {
	                            $('#welcomePage').show(1000);
	                        }
	                        else{
	                            if(sessionStorage.noOfUsers == 1){
                            		for(var i=0 ; i<userArray.length ; i++){
                            			if(userArray[i] == true){
                            				$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass("one_one" , 1500);
											break;
                            			}
                            		}
	                            }
	                            else{
	                                if(sessionStorage.noOfUsers == 2){
	                                	j=0;
	                                	for(var i=0 ; i<userArray.length ; i++){
	                            			if(userArray[i] == true){
	                            				if($("div.devicesContainer").length > 0){
								            		if(sessionStorage.noOfUsers != 1){
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level').addClass('level'+sessionStorage.noOfUsers);
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level').removeClass('level');
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money').addClass('money'+sessionStorage.noOfUsers);
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money').removeClass('money');
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges').addClass('badges'+sessionStorage.noOfUsers);
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges').removeClass('badges');
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas').removeClass('pieCanvas');
					                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badgesTitle').remove();
					                				}
												}
												else{
													if($("div.chartContainer").length > 0){
														if(sessionStorage.noOfUsers != 1){
					                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
					                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
					                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
					                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
					                    				}
													}
													else{
														if($("div.preChartContainer").length > 0){
															if(sessionStorage.noOfUsers != 1){
					                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
					                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer').removeClass('preChartContainer');
					                        				}
														}
													}
												}
	                            				if(j%2 == 0){
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_two" , 1500);
	                            				}
	                            				else {
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_two" , 1500);
	                            				}
	                            				j++;
	                            			}
	                            		}
	                                }
	                                else{
	                                    if(sessionStorage.noOfUsers == 3){
	                                    	j=0;
	                                        for(var i=0 ; i<userArray.length ; i++){
		                            			if(userArray[i] == true){
		                            				if($("div.devicesContainer").length > 0){
									            		if(sessionStorage.noOfUsers != 1){
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level').addClass('level'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.level').removeClass('level');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money').addClass('money'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.money').removeClass('money');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges').addClass('badges'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badges').removeClass('badges');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.pieCanvas').removeClass('pieCanvas');
						                					$('#'+getUserNumber(userNumberArray[i]+'')).find('.badgesTitle').remove();
						                				}
													}
													else{
														if($("div.chartContainer").length > 0){
															if(sessionStorage.noOfUsers != 1){
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
						                    					$('#'+getUserNumber(userNumberArray[i]+'')).find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
						                    				}
														}
														else{
															if($("div.preChartContainer").length > 0){
																if(sessionStorage.noOfUsers != 1){
						                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
						                        					$('#'+getUserNumber(userNumberArray[i]+'')).find('.preChartContainer').removeClass('preChartContainer');
						                        				}
															}
														}
													}
		                            				if(j==2){
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_middle_three" , 1500);
		                            				}
		                            				else{
		                            					if(j%2 == 0){
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_three" , 1500);
			                            				}
			                            				else {
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_three" , 1500);
			                            				}
		                            				}
		                            				
		                            				j++;
		                            			}
		                            		}
	                                    }
	                                    else{
	                                    }
	                                }
	                            }
	                        }
	                        window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpPreChart',window['{{userNumber}}scrollUp']);
							window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownPreChart',window['{{userNumber}}scrollDown']);
	                        var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	                    }
	                });
	            };



	window[window["{{userNumber}}"]+'backToProfile'] = function(data) {
	                        setTimeout(function () {
	                            $.ajax({
	                                url: "/profile/"+"{{userID}}"+"/"+"{{userNumber}}"+"/"+window["{{userNumber}}Privacy"]+"/",
	                                type: "GET",
	                                data: {
	                                    'csrfmiddlewaretoken' : '{{csrfToken}}', 
	                                    'userID':'{{userID}}'
	                                },
	                                success: function(data){
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
	                                    window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpPreChart',window['{{userNumber}}scrollUp']);
										window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownPreChart',window['{{userNumber}}scrollDown']);
	                                    $('#'+"{{userNumber}}").html(data);
	                                    if($("div.devicesContainer").length > 0){
						            		if(sessionStorage.noOfUsers != 1){
		                    					$('#'+"{{userNumber}}").find('.level').addClass('level'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.level').removeClass('level');
		                    					$('#'+"{{userNumber}}").find('.money').addClass('money'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.money').removeClass('money');
		                    					$('#'+"{{userNumber}}").find('.badges').addClass('badges'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.badges').removeClass('badges');
		                    					$('#'+"{{userNumber}}").find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
		                    					$('#'+"{{userNumber}}").find('.pieCanvas').removeClass('pieCanvas');
		                    					$('#'+"{{userNumber}}").find('.badgesTitle').remove();
		                    				}
										}
										else{
											if($("div.chartContainer").length > 0){
												if(sessionStorage.noOfUsers != 1){
		                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
		                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
		                        				}
											}
											else{
												if($("div.preChartContainer").length > 0){
													if(sessionStorage.noOfUsers != 1){
		                            					$('#'+"{{userNumber}}").find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
			                        					$('#'+"{{userNumber}}").find('.preChartContainer').removeClass('preChartContainer');
			                        				}
												}
											}
										}
	                                    var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	                                }
	                            });
	                        }, 1000);
	                    };

	window[window["{{userNumber}}"]+'viewCharts'] = function(data) {
														$.ajax({
							                                url: "/viewCharts/",
							                                type:"GET",
							                                data: {
							                                    'csrfmiddlewaretoken':'{{csrfToken}}', 
							                                    'userID':'{{userID}}',
							                                    'userNumber':'{{userNumber}}',
							                                    'FromMonth':data.FromMonth,
							                                    'ToMonth':data.ToMonth,
							                                    'FromYear':data.FromYear,
							                                    'ToYear':data.ToYear,
							                                    'FromDay':data.FromDay,
							                                    'ToDay':data.ToDay,
							                                    'privacyStatus' : window["{{userNumber}}Privacy"]
							                                },
							                                success: function(data){
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
							                                    window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpPreChart',window['{{userNumber}}scrollUp']);
																window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownPreChart',window['{{userNumber}}scrollDown']);

							                                    $('#'+"{{userNumber}}").html(data);
							                                    
							                                    if($("div.devicesContainer").length > 0){
												            		if(sessionStorage.noOfUsers != 1){
								                    					$('#'+"{{userNumber}}").find('.level').addClass('level'+sessionStorage.noOfUsers);
								                    					$('#'+"{{userNumber}}").find('.level').removeClass('level');
								                    					$('#'+"{{userNumber}}").find('.money').addClass('money'+sessionStorage.noOfUsers);
								                    					$('#'+"{{userNumber}}").find('.money').removeClass('money');
								                    					$('#'+"{{userNumber}}").find('.badges').addClass('badges'+sessionStorage.noOfUsers);
								                    					$('#'+"{{userNumber}}").find('.badges').removeClass('badges');
								                    					$('#'+"{{userNumber}}").find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
								                    					$('#'+"{{userNumber}}").find('.pieCanvas').removeClass('pieCanvas');
								                    					$('#'+"{{userNumber}}").find('.badgesTitle').remove();
								                    				}
																}
																else{
																	if($("div.chartContainer").length > 0){
																		if(sessionStorage.noOfUsers != 1){
								                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
								                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
								                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
								                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
								                        				}
																	}
																	else{
																		if($("div.preChartContainer").length > 0){
																			if(sessionStorage.noOfUsers != 1){
								                            					$('#'+"{{userNumber}}").find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
									                        					$('#'+"{{userNumber}}").find('.preChartContainer').removeClass('preChartContainer');
									                        				}
																		}
																	}
																}
							                                    var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
							                                }
							                            });
													};

	window['{{userNumber}}scrollUp'] = function(data) {
		var y = $('#{{userNumber}}').scrollTop();
		$('#{{userNumber}}').scrollTop(y-150);
	}

	window['{{userNumber}}scrollDown'] = function(data) {
		var y = $('#{{userNumber}}').scrollTop();
		$('#{{userNumber}}').scrollTop(y+150);
	}

	window[ chan + window["{{userNumber}}"] ].bind('client-goBackToProfile',window[window["{{userNumber}}"]+'backToProfile']);
	window[ chan + window["{{userNumber}}"] ].bind('client-logout',window[window["{{userNumber}}"]+'logoutPreChart']);
	window[ chan + window["{{userNumber}}"] ].bind('client-viewCharts',window[window["{{userNumber}}"]+'viewCharts']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollUpPreChart',window['{{userNumber}}scrollUp']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollDownPreChart',window['{{userNumber}}scrollDown']);
</script>

<div id="{{userID}}preChart" class="preChartContainer">
	<p class="chooseDates">Please choose the duration in which you would like to check your electricity consumption within on you mobile screen</p>
</div>