<div id="{{userNumber}}ColorDiv" class=""></div>
<script>
	//Charts part
	window.onload=function(){
		chart.render();	
	}
	window['{{userID}}'+"PieChart"] = [];

	{% for device,usage in devices_and_usage %}
		window['{{userID}}'+"PieChart"] = window['{{userID}}'+"PieChart"].concat({ label:'{{device.name}}'+'{{usage}}',y: ((parseInt('{{usage}}') / {{total_usage}})*100)});
	{% endfor %}

	window['{{userID}}Piechart'] = new CanvasJS.Chart("{{userID}}PieCanvas", {
			theme: "theme2",//theme1
			title:{
				text: "Total energy usage within the dates entered"              
			},
			data: [              
				{
				type: "pie",
				dataPoints: window['{{userID}}'+"PieChart"]
				}
			]
		});
	
	var chan = "channel"
	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"] = "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    	$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}

	function getUserNumber(n){
		var number;
		switch(n)
		{
			case 1:
			  	number='one';
			  	break;
			case 2:
			  	number='two';
			  	break;
			case 3:
				number='three';
				break;
			case 4:
				number='four';
				break;
		}
	}
	
	//------------------ Log Out listeners -------------------
		window['{{userIDlogOutProfile'] = function(data) {
						sessionStorage.noOfUsers = sessionStorage.noOfUsers - 1;
						userArray[parseInt(window["{{userNumber}}"])-1] = false;
						console.log("Session no of users :"+sessionStorage.noOfUsers);
						$.ajax({
				            url: "/logout/",
				            type: "POST",
				            data: {
				            	'csrfmiddlewaretoken':"{{csrf_token}}",
				            	'userID':"{{user_id}}"
				           	},
				            success: function(data){
				            	// alert("Logged out");
				            	$('#'+"{{userNumber}}").html("");
				            	$('#'+"{{userNumber}}").hide(1000);
				            	if(sessionStorage.noOfUsers == 0) {
		                            $('#welcomePage').show(1000);
		                        }
		                        else{
		                            if(sessionStorage.noOfUsers == 1){
	                            		for(int i=0 ; i<userArray.length ; i++){
	                            			if(userArray[i] == true){
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass("one_one" , 1500);
												break;
	                            			}
	                            		}
		                            }
		                            else{
		                                if(sessionStorage.noOfUsers == 2){
		                                	j=0;
		                                	for(int i=0 ; i<userArray.length ; i++){
		                            			if(userArray[i] == true){
		                            				if(j%2 == 0){
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_two" , 1500);
		                            				}
		                            				else {
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_two" , 1500);
		                            				}
		                            				j++;
		                            			}
		                            		}
		                                }
		                                else{
		                                    if(sessionStorage.noOfUsers == 3){
		                                    	j=0;
		                                        for(int i=0 ; i<userArray.length ; i++){
			                            			if(userArray[i] == true){
			                            				if(j==2){
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_middle_three" , 1500);
			                            				}
			                            				else{
			                            					if(j%2 == 0){
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_three" , 1500);
				                            				}
				                            				else {
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_three" , 1500);
				                            				}
			                            				}
			                            				
			                            				j++;
			                            			}
			                            		}
		                                    }
		                                    else{
		                                    }
		                                }
		                            }
		                        }
				            	// window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', window['{{userID}}goToChart']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{userIDlogOutProfile']);
			                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
				            }
						});
					};
	//-----------------------------------------

	// var goToAddDevice = function(data) {
	// 						$.cookie('userSession', "bf94f04fdf144e66e2c07c5e8a09fda6");
	// 						$.ajax({
	// 				                url: "/add_device/",
	// 				                type: "GET",
	// 				                data: {
	// 				                	'csrfmiddlewaretoken':"{{csrf_token}}" ,
	// 				                 	'userNumber':"{{userNumber}}",
	// 				                 	'userID':"{{user_id}}"
	// 				             	},
	// 				                success: function(data){
	// 				                	// alert("success went to add device page Profile page");
	// 				                	$('#'+"{{userNumber}}").html(data);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', goToChart);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',logout);
	// 				                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	// 				                }
	// 				    		});
	// 					};

	window['{{userID}}goToChart'] = function(data) {
						$.ajax({
					            url: "/charts/",
					            type: "GET",
					            data: {
					            	'csrfmiddlewaretoken':"{{csrf_token}}" ,
					            	'userNumber':"{{userNumber}}" ,
					            	'userID':"{{user_id}}",
					            	'userNo': window["{{userNumber}}"]
					            },
					            success: function(data,textStatus, jqXHR){
					            	$('#'+"{{userNumber}}").html(data);
					            	// window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', window['{{userID}}goToChart']);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{userIDlogOutProfile']);
					            	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
					            }
							});
					};

	var scrollUp = function(data) {
		var y = $('#devicesUsage{{user_id}}').scrollTop();
		$('#devicesUsage{{user_id}}').scrollTop(y-150);
	}

	var scrollDown = function(data) {
		var y = $('#devicesUsage{{user_id}}').scrollTop();
		$('#devicesUsage{{user_id}}').scrollTop(y+150);
	}
	// window[ chan + window["{{userNumber}}"] ].bind('client-goToAddDevice', goToAddDevice);
	window[ chan + window["{{userNumber}}"] ].bind('client-goToChart',window['{{userID}}goToChart']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollUpProfile',scrollUp);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollDownProfile',scrollDown);
	window[ chan + window["{{userNumber}}"] ].bind('client-logout',window['{{userIDlogOutProfile']);
</script>

<div id="devicesUsage{{user_id}}" class="devicesContainer">
	<div id="{{userID}}userLevel" style="">'{{userLvl}}'</div>
	<div id="{{userID}}userMoney" style="">'{{userMoney}}'</div>
	<div id="{{userID}}userBadges" style="">
		{% for badge in userBadges %}
			<p>'{{badge.name}}'</p>
			<img src="{{ MEDIA_URL }}images/{{ object.image.url }}" alt="image" />
		{% endfor %}
	</div>
	<div id="{{userID}}PieCanvas" style="width:40%;height:40%"></div>
</div>

<!-- <div class="btn-group addDeviceButton">
	<button class="btn">Add a new device | <i class="icon-plus"></i></button>
</div> -->