<div id="{{userNumber}}ColorDiv" class=""></div>
<script>
	//Charts part
	window['{{user_id}}'+"PieChart"] = [];

	{% for device,usage in devices_and_usage %}
		window['{{user_id}}'+"PieChart"] = window['{{user_id}}'+"PieChart"].concat({ label:'{{device.name}}'+' '+'{{usage}}%',y: parseInt('{{usage}}')});
	{% endfor %}

	window['{{user_id}}Piechart'] = new CanvasJS.Chart("{{user_id}}PieCanvas", {
			theme: "theme2",//theme1
			title:{
				// text: "Total energy usage within the dates entered"              
			},
			data: [              
				{
				type: "pie",
				dataPoints: window['{{user_id}}'+"PieChart"]
				}
			]
		});
	window['{{user_id}}Piechart'].render();

	var chan = "channel"
	if("{{userNumber}}" == "one"){
	    window["{{userNumber}}"] = "1";
	    $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    $('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-1');
	}
	else{
	    if("{{userNumber}}" == "two") {
	        window["{{userNumber}}"] ="2";
	        $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    	$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-2');
	    }
	    else{
	        if("{{userNumber}}" == "three") {
	            window["{{userNumber}}"] ="3";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-3');
	        }
	        else{
	            window["{{userNumber}}"] ="4";
	            $('#'+'{{userNumber}}'+"ColorDiv").removeClass();
	    		$('#'+'{{userNumber}}'+"ColorDiv").addClass('glowing-box-4');
	        }
	    }
	}
	
	//------------------ Log Out listeners -------------------
		window['{{user_id}}logOutProfile'] = function(data) {
						sessionStorage.noOfUsers = parseInt(sessionStorage.noOfUsers) - 1;
						userArray[parseInt(window["{{userNumber}}"])-1] = false;
						$.ajax({
				            url: "/logout/",
				            type: "POST",
				            data: {
				            	'csrfmiddlewaretoken':"{{csrf_token}}",
				            	'userID':"{{user_id}}"
				           	},
				            success: function(data){
				            	// alert("Logged out");
				            	$('#'+"{{userNumber}}").html("");
				            	$('#'+"{{userNumber}}").hide(1000);
				            	if(sessionStorage.noOfUsers == 0) {
		                            $('#welcomePage').show(1000);
		                        }
		                        else{
		                            if(sessionStorage.noOfUsers == 1){
	                            		for(var i=0 ; i<userArray.length ; i++){
	                            			if(userArray[i] == true){
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
	                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass("one_one" , 1500);
												break;
	                            			}
	                            		}
		                            }
		                            else{
		                                if(sessionStorage.noOfUsers == 2){
		                                	j=0;
		                                	for(var i=0 ; i<userArray.length ; i++){
		                            			if(userArray[i] == true){
		                            				if(j%2 == 0){
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_two" , 1500);
		                            				}
		                            				else {
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
		                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_two" , 1500);
		                            				}
		                            				j++;
		                            			}
		                            		}
		                                }
		                                else{
		                                    if(sessionStorage.noOfUsers == 3){
		                                    	j=0;
		                                        for(var i=0 ; i<userArray.length ; i++){
			                            			if(userArray[i] == true){
			                            				if(j==2){
			                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            				$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_middle_three" , 1500);
			                            				}
			                            				else{
			                            					if(j%2 == 0){
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_left_three" , 1500);
				                            				}
				                            				else {
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).removeClass()
				                            					$('#'+getUserNumber(userNumberArray[i]+'')).addClass(getUserNumber(userNumberArray[i]+'')+"_right_three" , 1500);
				                            				}
			                            				}
			                            				
			                            				j++;
			                            			}
			                            		}
		                                    }
		                                    else{
		                                    }
		                                }
		                            }
		                        }
				            	// window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', window['{{user_id}}goToChart']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{user_id}}logOutProfile']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', window['{{user_id}}goToLeaderBoard']);
			                	window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpProfile',window['{{userNumber}}scrollUp']);
								window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownProfile',window['{{userNumber}}scrollDown']);
			                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
				            }
						});
					};
	//-----------------------------------------

	// var goToAddDevice = function(data) {
	// 						$.cookie('userSession', "bf94f04fdf144e66e2c07c5e8a09fda6");
	// 						$.ajax({
	// 				                url: "/add_device/",
	// 				                type: "GET",
	// 				                data: {
	// 				                	'csrfmiddlewaretoken':"{{csrf_token}}" ,
	// 				                 	'userNumber':"{{userNumber}}",
	// 				                 	'userID':"{{user_id}}"
	// 				             	},
	// 				                success: function(data){
	// 				                	// alert("success went to add device page Profile page");
	// 				                	$('#'+"{{userNumber}}").html(data);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', goToChart);
	// 				                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',logout);
	// 				                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
	// 				                }
	// 				    		});
	// 					};


		window['{{user_id}}goToLeaderBoard'] = function(data) {
							$.cookie('userSession', "bf94f04fdf144e66e2c07c5e8a09fda6");
							$.ajax({
					                url: "/leaderBoard/",
					                type: "GET",
					                data: {
					                	'csrfmiddlewaretoken':"{{csrf_token}}" ,
					                 	'userNumber':"{{userNumber}}",
					                 	'userID':"{{user_id}}"
					             	},
					                success: function(data){
					                	// alert("success went to add device page Profile page");
					                	$('#'+"{{userNumber}}").html(data);
					                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', window['{{user_id}}goToLeaderBoard']);
					                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', window['{{user_id}}goToChart']);
					                	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{user_id}}logOutProfile']);
					                	window[ chan + window["{{userNumber}}"] ].unbind('client-goToLeaderBoard',window['{{user_id}}goToLeaderBoard']);
					                	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
					                }
					    		});
						};

	window['{{user_id}}goToChart'] = function(data) {
						$.ajax({
					            url: "/charts/",
					            type: "GET",
					            data: {
					            	'csrfmiddlewaretoken':"{{csrf_token}}" ,
					            	'userNumber':"{{userNumber}}" ,
					            	'userID':"{{user_id}}",
					            	'userNo': window["{{userNumber}}"]
					            },
					            success: function(data){
					            	$('#'+"{{userNumber}}").html(data);
					            	if($("div.devicesContainer").length > 0){
					            		if(sessionStorage.noOfUsers != 1){
	                    					$('#'+"{{userNumber}}").find('.level').addClass('level'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.level').removeClass('level');
	                    					$('#'+"{{userNumber}}").find('.money').addClass('money'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.money').removeClass('money');
	                    					$('#'+"{{userNumber}}").find('.badges').addClass('badges'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.badges').removeClass('badges');
	                    					$('#'+"{{userNumber}}").find('.pieCanvas').addClass('pieCanvas'+sessionStorage.noOfUsers);
	                    					$('#'+"{{userNumber}}").find('.pieCanvas').removeClass('pieCanvas');
	                    					$('#'+"{{userNumber}}").find('.badgesTitle').remove();
	                    				}
									}
									else{
										if($("div.chartContainer").length > 0){
											if(sessionStorage.noOfUsers != 1){
	                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').addClass('ViewChartsPieCanvas'+sessionStorage.noOfUsers);
	                        					$('#'+"{{userNumber}}").find('.ViewChartsPieCanvas').removeClass('ViewChartsPieCanvas');
	                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').addClass('ViewChartsBarCanvas'+sessionStorage.noOfUsers);
	                        					$('#'+"{{userNumber}}").find('.ViewChartsBarCanvas').removeClass('ViewChartsBarCanvas');
	                        				}
										}
										else{
											if($("div.preChartContainer").length > 0){
												if(sessionStorage.noOfUsers != 1){
	                            					$('#'+"{{userNumber}}").find('.preChartContainer').addClass('preChartContainer'+sessionStorage.noOfUsers);
		                        					$('#'+"{{userNumber}}").find('.preChartContainer').removeClass('preChartContainer');
		                        				}
											}
										}
									}
					            	// window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', goToAddDevice);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-goToChart', window['{{user_id}}goToChart']);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-logout',window['{{user_id}}logOutProfile']);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-goToAddDevice', window['{{user_id}}goToLeaderBoard']);
					            	window[ chan + window["{{userNumber}}"] ].unbind('client-scrollUpProfile',window['{{userNumber}}scrollUp']);
									window[ chan + window["{{userNumber}}"] ].unbind('client-scrollDownProfile',window['{{userNumber}}scrollDown']);
									window[ chan + window["{{userNumber}}"] ].unbind('client-goToLeaderBoard',window['{{user_id}}goToLeaderBoard']);
					            	var triggered = window[ chan + window["{{userNumber}}"] ].trigger('client-loadingComplete', {});
					            }
							});
					};

	window['{{userNumber}}scrollUp'] = function(data) {
		var y = $('#devicesUsage{{user_id}}').scrollTop();
		$('#devicesUsage{{user_id}}').scrollTop(y-150);
	}

	window['{{userNumber}}scrollDown'] = function(data) {
		var y = $('#devicesUsage{{user_id}}').scrollTop();
		$('#devicesUsage{{user_id}}').scrollTop(y+150);
	}
	// window[ chan + window["{{userNumber}}"] ].bind('client-goToAddDevice', goToAddDevice);
	window[ chan + window["{{userNumber}}"] ].bind('client-goToChart',window['{{user_id}}goToChart']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollUpProfile',window['{{userNumber}}scrollUp']);
	window[ chan + window["{{userNumber}}"] ].bind('client-scrollDownProfile',window['{{userNumber}}scrollDown']);
	window[ chan + window["{{userNumber}}"] ].bind('client-logout',window['{{user_id}}logOutProfile']);
	window[ chan + window["{{userNumber}}"] ].bind('client-goToLeaderBoard',window['{{user_id}}goToLeaderBoard']);
	
</script>

<div id="devicesUsage{{user_id}}" class="devicesContainer">
	<div id="{{user_id}}userLevel" class="level">Level: {{userLvl}}</div>
	<div id="{{user_id}}userMoney" class="money">Money: {{userMoney}} €</div>
	{% if userBadges.count > 0 %}
		<p style="margin-left: 76%;margin-top: 7%;font-size: 25px;color:grey;" class="badgesTitle">Badges:</p>
		<div id="{{user_id}}userBadges" class="badges">
			{% for badge in userBadges %}
				<img src="{{badge.image.url}}" alt="image" />
			{% endfor %}
		</div>
	{% else %}
		<p style="margin-left: 76%;margin-top: 7%;font-size: 25px;color:grey;" class="NoBadgesTitle">You don't have any Badges yet</p>
	{% endif %}
	{% if usagesLength > 0 %}
		<div id="{{user_id}}PieCanvas" class="pieCanvas"></div>
	{% else %}
		<p class="NoChart">You don't have any data/charts yet</p>
	{% endif %}
</div>

<!-- <div class="btn-group addDeviceButton">
	<button class="btn">Add a new device | <i class="icon-plus"></i></button>
</div> -->